@*@if (Visible)
{*@
        <div id="loading">
       @*     <div class="w-100 d-flex justify-content-center align-items-center">
                <div class="spinner-border text-primary spinner-custom" role="status"></div>
            </div>*@
        <div class="loader">
            <div class="dot-loader"></div>
            <div class="dot-loader dot-loader--2"></div>
            <div class="dot-loader dot-loader--3"></div>
        </div>
@*            <span>お待ちください...</span><br>*@
        </div>
@*}*@

@code {

    [Parameter] public bool Visible { get; set; } = false;

}