@page "/"
@using WordPressPCL
@using WordPressPCL.Models
@using WordPressPCL.Utility
@inject WordPressClient WPClient;

<PageTitle>雑念置き場</PageTitle>
<div class="page">
 
<div class="row">
    <div class="col blog-main">
        @if (null != _postsQuery)
        {
            <Posts Query="@_postsQuery"></Posts>
        }
    </div>
    <FluentButton>Prev</FluentButton>
    <FluentButton>Next</FluentButton>
</div>
</div>
@code
{
    private static readonly PostsQueryBuilder _postsQuery = new PostsQueryBuilder()
    {
        Page = 1,
        PerPage = 10,
        Order = Order.DESC,
        OrderBy = PostsOrderBy.Date
    };
}
